/* BICHIS */

.bichi-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bichi-card-img {
    flex-grow: 0.5;
}

.bichi-card-title {
    flex-grow: 4;
    color: white;
    font-size: 20px;
    text-align: left;
}

.bichi-card-img img {
    border-radius: 80px;
    width: 60px;
    height: 60px;
}