.lista {
    margin: 10px auto;
    height: 100%;
    background-image: url(https://ik.imagekit.io/jgjqr7tdm/fondo-lol_lUs_bOvHL.jpg);
    flex-wrap: nowrap;
    width: 60%;
}

.iconos-champs {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-around;
}

.iconos-champs img {
    width: 50px;
    height: 50px;
}

.champ-card{
    border: 1px solid yellow;
    background-color: black;
    opacity: 0.7;
}

.fondo-champ {
    background-image: url(https://ik.imagekit.io/jgjqr7tdm/jhinfondo_YNgQRxR8k.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}