.fondo-compos {
    background-image: url(../../imagenes/gnar-compos.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}