* {
    margin: 0;
    border-box: box-sizing;
}

.container {
    background-color: black;
}

.header {
    #background-color: red;
}

.content {
    background-image: url(https://ik.imagekit.io/jgjqr7tdm/fondo_tio_X4HXvgO9t.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: fixed;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}

.seccion{
    padding: 20px;
}

.footer {
    background-color: lightblue;
}

.copyright {
    color: white;
    background: black;
    text-align: center;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.bichis {
    text-align: center;
    flex-grow: 2;
}

.videos {
    flex-grow: 2;
}

.bordear {
    border: 1px solid red;
}

.noticias {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 4;
}

.noticia-card {
    border: 1px solid grey;
}

.noticia-titulo{
color: white;
}

.noticia-descripcion{
    color: white;
}

/* BICHIS */

.bichi-card{
display:flex;
flex-direction: row;
align-items: center;
}


.bichi-card-img{
flex-grow: 0.5;
}

.bichi-card-title{
flex-grow:4;
color: white;
font-size: 20px;    
text-align: left;
}

.bichi-card-img img {
    border-radius: 80px;
    width: 60px;
    height: 60px;
}