* {
    margin: 0;
    border-box: box-sizing;
}

.container {
    background-color: black;
}

.header {
    #background-color: red;
}

.content {
    background-image: url(https://ik.imagekit.io/jgjqr7tdm/fondo_tio_X4HXvgO9t.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: fixed;
    opacity: 0.7;
}

.footer {
    background-color: lightblue;
}

.copyright {
    color: white;
    background: black;
    text-align: center;
}

.img-responsive {
    width: 100%;
    height: auto;
}

section img {
    border-radius: 80px;
    width: 60px;
    height: 60px;
}

.bichis {
    text-align: center;
    flex-grow: 4;
}

.videos {
    flex-grow: 4;
}

.bordear {
    border: 1px solid red;
}

.noticias {
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.noticia {
    border: 1px solid grey;
}