* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(fuentes/fuentelol.otf);
    font-family: Friz Quadrata Std;
}

.container {
    background-color: black;
}

.header {
    #background-color: red;
}

.content {
    /*background-image: url(https://ik.imagekit.io/jgjqr7tdm/fondo_bxtJtQ7oO.jpg);*/
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    border: 10px solid black;
}

.main-title{
    text-align: center;
    color: darkgoldenrod;
}

.seccion {
    padding: 20px;
}

.footer {
    background-color: lightblue;
}

.copyright {
    color: white;
    background: black;
    text-align: center;
}



.videos {
    flex-grow: 3;
}

.bordear {
    border: 1px solid red;
}




h1 {
    font-family: Friz Quadrata Std;
}

a {
    font-family: Friz Quadrata Std;
}

p {
    font-family: Friz Quadrata Std;
    color: rgb(255, 255, 255);
}